
.container {
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading {
    //display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 32px;
    color: #333;
    //background-color: #f8f8f8;
  }
  

/* .container > div {
    flex-grow: 0; /* Ensure the divs don't grow to fill available space 
} */

/* @media only screen and (max-width: 767px) {
    .container {
    }
} */
