
.container {
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    width: 100%;
  }
  
  .loading {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
    margin: 20px;
  }
  
  .loading img {
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 300px;
    margin: 40px;
  }
  
/* .container > div {
    flex-grow: 0; /* Ensure the divs don't grow to fill available space 
} */

/* @media only screen and (max-width: 767px) {
    .container {
    }
} */
